<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Registro de Persona</title>
    <style>
      /* Estilo para que la ID se vea en la esquina superior derecha */
      .id-display {
        position: fixed;
        top: 10px;
        right: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 14px;
      }
    </style>
</head>
<body>
  <div class="container mt-5">
    <div class="text-center mb-4">
      <img src="/images/combiplus_logo.png" alt="Logo" width="200">
      <h1>Registro de Persona</h1>
    </div>
    <form (ngSubmit)="registarUsuario()" #formRegistro="ngForm">
      <div class="form-group">
        <label for="username">Nombre de Usuario:</label><br>
        <input name="username" type="text" [(ngModel)]="username.username" placeholder="Ingrese su Nombre de Usuario" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="password">Contraseña:</label><br>
        <input type="password" [(ngModel)]="username.password" name="password" placeholder="Ingrese su Contraseña" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="conpassword">Confirmar Contraseña:</label><br>
        <input type="password" [(ngModel)]="username.conpassword" name="conpassword" placeholder="Confirme su Contraseña" class="form-control" required>
      </div>

      <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
      <button type="button" class="btn btn-secondary" (click)="regresarAlrt()">Regresar</button>
      <button type="submit" class="btn btn-primary btn-block" [disabled]="!formRegistro.valid || username.password !== username.conpassword">Siguiente</button>
    </form>
  </div>
</body>
</html>
