<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Days+One" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <title>Tabla de Usuarios</title>
</head>
<body>
    <div class="container mt-4">
        <!-- Encabezado -->
        <div class="header text-center mb-4">
            <img src="/images/combiplus_logo.png" alt="CombiPlus Logo" class="logo img-fluid" style="max-width: 150px;">
            <h1 class="mt-2">Tabla de Usuarios</h1>
        </div>

        <!-- Botones de acción -->
        <div class="d-flex justify-content-between mb-4 flex-wrap">
            <button class="button registrar2 mb-2" (click)="openRegisterDialog()">Agregar Nuevo Usuario</button>
            <button class="button registrar2 mb-2" (click)="openMapDialog()">Parada Nueva</button>
            <button class="button registrar2 mb-2" (click)="openRouteDialog()">Agregar Ruta</button>
            <button class="button registrar2 mb-2" (click)="goToMap()">Mapa</button> <!-- Botón nuevo -->
        </div>

        <!-- Tabla de usuarios -->
        <div class="table-responsive">
          <table class="table mt-3">
            <thead>
              <tr>
                <th>Tipo de Usuario</th>
                <th>Nombre</th>
                <th>Alias</th>
                <th>Activo</th>
                <th>Eliminar</th>
                <th>Editar</th>
                <th>Sesión</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios">
                <td>{{ usuario.cvetipopersona }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.alias }}</td>
                <td>
                  <label class="switch">
                    <input type="checkbox" [(ngModel)]="usuario.activo" (change)="toggleActivo(usuario)">
                    <span class="slider"></span>
                  </label>
                </td>
                <td><button class="button salir" (click)="openDeleteDialog(usuario.id_personas)">Eliminar</button></td>
                <td><button class="button registrar" (click)="openEditDialog(usuario)">Editar</button></td>
                <td><button class="button registrar" (click)="opensesionDialog(usuario)">Sesion</button></td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Diálogo de confirmación de eliminación -->
        <dialog id="modal2" class="p-4">
            <h3>¿Estás seguro que deseas eliminar este usuario?</h3>
            <div class="dialog-buttons mt-3">
                <button class="button mr-2" (click)="deleteUser()">Eliminar</button>
                <button class="button" (click)="closeDeleteDialog()">Cancelar</button>
            </div>
            <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
            </div>
        </dialog>

        <!-- Diálogo de registro de usuario -->
        <dialog id="modal4" class="p-4">
            <form (ngSubmit)="registrarUsuario()">
                <h3 class="mb-3">Registro de Usuario</h3>
                <div class="form-container">
                    <div class="form-group">
                        <label>Tipo de Usuario:</label>
                        <select [(ngModel)]="usuario.id_tipo_persona" name="tipoUsuario" class="form-control" required>
                            <option value="">Selecciona un tipo de usuario</option>
                            <option *ngFor="let tipo of Tusuarios" [value]="tipo.id_tipo_persona">
                                {{ tipo.nombre }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Nombre:</label>
                        <input type="text" [(ngModel)]="usuario.nombre" name="nombre" class="form-control" placeholder="Nombre del Usuario" required>
                    </div>
                    <div class="form-group">
                        <label>Apellido Paterno:</label>
                        <input type="text" [(ngModel)]="usuario.apellido_pat" name="apellidoPat" class="form-control" placeholder="Apellido Paterno" required>
                    </div>
                    <div class="form-group">
                        <label>Apellido Materno:</label>
                        <input type="text" [(ngModel)]="usuario.apellido_mat" name="apellidoMat" class="form-control" placeholder="Apellido Materno" required>
                    </div>
                    <div class="form-group">
                        <label>CURP:</label>
                        <input type="text" [(ngModel)]="usuario.curp" name="curp" class="form-control" placeholder="CURP" required>
                    </div>
                    <div class="form-group">
                        <label>RFC:</label>
                        <input type="text" [(ngModel)]="usuario.rfc" name="rfc" class="form-control" placeholder="RFC" required>
                    </div>
                    <div class="form-group">
                        <label>Sexo:</label>
                        <select [(ngModel)]="usuario.sexo" name="sexo" class="form-control">
                            <option value="1">Masculino</option>
                            <option value="0">Femenino</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Fecha de Nacimiento:</label>
                        <input type="date" [(ngModel)]="usuario.fecha_nac" name="fechaNac" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Estado:</label>
                        <select [(ngModel)]="usuario.activo" name="activo" class="form-control">
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>
                </div>
                <div class="dialog-buttons mt-3">
                    <input class="button registrar mr-2" type="submit" value="Guardar">
                    <button class="button salir" type="button" (click)="closeRegisterFormDialog()">Cerrar</button>
                </div>
            </form>
        </dialog>

        <!-- Diálogo de edición de usuario -->
        <dialog id="modal3" class="p-4">
            <form (ngSubmit)="editarUsuario()">
                <h3 class="mb-3">Edición de Usuario</h3>
                <div class="form-container">
                    <div class="form-group">
                        <label>Tipo de Usuario:</label>
                        <select [(ngModel)]="usuarioEditado.id_tipo_persona" name="tipoUsuario" class="form-control" required>
                            <option value="0">Selecciona un tipo de usuario</option>
                            <option *ngFor="let tipo of Tusuarios" [value]="tipo.id_tipo_persona">
                                {{ tipo.nombre }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" [(ngModel)]="usuarioEditado.nombre" name="nombre" class="form-control" placeholder="Nombre del Usuario" required>
                    </div>
                    <div class="form-group">
                        <label for="apellidoPat">Apellido Paterno:</label>
                        <input type="text" [(ngModel)]="usuarioEditado.apellido_pat" name="apellidoPat" class="form-control" placeholder="Apellido Paterno" required>
                    </div>
                    <div class="form-group">
                        <label for="apellidoMat">Apellido Materno:</label>
                        <input type="text" [(ngModel)]="usuarioEditado.apellido_mat" name="apellidoMat" class="form-control" placeholder="Apellido Materno" required>
                    </div>
                    <div class="form-group">
                        <label for="curp">CURP:</label>
                        <input type="text" [(ngModel)]="usuarioEditado.curp" name="curp" class="form-control" placeholder="CURP" required>
                    </div>
                    <div class="form-group">
                        <label for="rfc">RFC:</label>
                        <input type="text" [(ngModel)]="usuarioEditado.rfc" name="rfc" class="form-control" placeholder="RFC" required>
                    </div>
                    <div class="form-group">
                        <label for="sexo">Sexo:</label>
                        <select [(ngModel)]="usuarioEditado.sexo" name="sexo" class="form-control">
                            <option value="2">Seleccionar Sexo</option>
                            <option value="1">Masculino</option>
                            <option value="0">Femenino</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="fechaNac">Fecha de Nacimiento:</label>
                        <input type="date" [(ngModel)]="usuarioEditado.fecha_nac" name="fechaNac" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="activo">Estado:</label>
                        <select [(ngModel)]="usuarioEditado.activo" name="activo" class="form-control">
                            <option value="2">Seleccionar Estado</option>
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>
                </div>
                <div class="dialog-buttons mt-3">
                    <input class="button registrar mr-2" type="submit" value="Guardar">
                    <button class="button salir" type="button" (click)="closeEditFormDialog()">Cerrar</button>
                </div>
            </form>
        </dialog>

        <!-- Diálogo de agregar parada -->
        <dialog id="modalMap" class="p-4">
            <form (ngSubmit)="saveStop()">
                <h3 class="mb-3">Agregar Parada</h3>
                <div class="form-group">
                    <label for="parada">Nombre de la Parada:</label>
                    <input type="text" id="parada" name="parada" class="form-control" placeholder="Nombre de la parada" [(ngModel)]="nuevaParada.nombre" required>
                </div>
                <div id="map" class="mb-3" style="width: 100%; height: 450px;"></div>
                <div class="dialog-buttons">
                    <button class="button salir mr-2" type="button" (click)="closeMapDialog()">Salir</button>
                    <button class="button registrar" type="submit">Guardar Parada</button>
                </div>
            </form>
        </dialog>

        <!-- Diálogo de agregar ruta -->
        <dialog id="routeDialog" class="p-4">
            <h3 class="mb-3">Agregar Ruta</h3>
            <div class="form-group">
                <label for="rutaNombre">Nombre de la Ruta:</label>
                <input type="text" name="rutaNombre" class="form-control" [(ngModel)]="rutaNombre" placeholder="Nombre de la ruta">
            </div>
            <div id="mapRoute" class="mb-3" style="width: 100%; height: 400px;"></div>
            <div class="dialog-buttons">
                <button class="button salir mr-2" type="button" (click)="closeRouteDialog()">Salir</button>
                <button class="button registrar mr-2" type="button" (click)="saveRoute()">Guardar Ruta</button>
                <button class="button" type="button" (click)="clearRoute()">Limpiar Ruta</button>
            </div>
        </dialog>
        <dialog id="modal5">
          <form (ngSubmit)="eorsesion()">
            <h3>Edición de Usuario</h3>
            <div class="form-container">
              <div class="form-group">
            <label for="username">Nombre de Usuario:</label><br>
            <input name="username" type="text" [(ngModel)]="username.username" placeholder="Ingrese su Nombre de Usuario" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="password">Contraseña:</label><br>
            <input type="password" [(ngModel)]="username.password" name="password" placeholder="Ingrese su Contraseña" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="conpassword">Confirmar Contraseña:</label><br>
            <input type="password" [(ngModel)]="username.conpassword" name="conpassword" placeholder="Confirme su Contraseña" class="form-control" required>
          </div>

          <div class="dialog-buttons">
            <input class="button registrar" type="submit" value="Guardar">
            <button class="button salir" type="button" (click)="closesesionFormDialog()">Cerrar</button>
          </div>
          </div>
        </form>
      </dialog>
    </div>
</body>
</html>
